%h2 Colgate InternDB

%h2 Details: 


%strong.origanization= @experience.organization
%span.industry= @experience.industry
%span.date= @experience.date_str
%br
%span.function= @experience.function
%span.location= @experience.citystate
%br
%span.paid= @experience.paid_str
%span.result= @experience.result
%br
%span Contact: 
%span.contact= @experience.contact
%span.relation= @experience.contact_relation
%br
%body 
  %h3 Ratings:
  %br
  %table#rate
    %thead
      %tr
        %th Average
        %th Relevancy of Work
        %th Networking
        %th Exposure to Industry
    %tbody
      %tr
        %td= @experience.composite.round(2)
        %td= @experience.hands_on_rating
        %td= @experience.network_rating
        %td= @experience.exposure_rating    
%br
%body 
  %h3 Review:
  %br
  %h4.rprompt Would you repeat this experience?  
  %span.repeat= @experience.repeat?
  %br
  %h4 How relevant was the work?
  %p.handson= @experience.hands_on_review
  %h4 How would you describe the networking oppurtunities available?
  %p.handson= @experience.network_review
  %h4 How was the exposure to the industry?
  %p.handson= @experience.exposure_review
  %h4 Additional Comments:
  %p.handson= @experience.comments
%br
%br


%body Written by:
%span= @user.name

-if @experience.approved != true
  = button_to 'Approve', @approveURI, :method => :approve, :id => "Approve", :class => "Approve"
-if @experience.denied != true
  = button_to 'Deny', @denyURI
-if @experience.denied
  = button_to 'Delete', "/admin/#{@experience.id}", :method => :delete
= button_to 'Edit', edit_admin_path(@experience.id), :method => :get
= button_to 'Back', @previous



