%h1 Colgate InternDB Pending Posts


%table#experiences
  %thead
    %tr
      %th Student
      %th Company
      %th Industry
      %th Role
      %th Date of Internship
      %th Date of Review
      %th Composite
      %th View
  %tbody
    - @unapproved.each do |un|
      %tr
        %td= un.get_name
        %td= un.organization
        %td= un.industry
        %td= un.function
        %td= un.date_str
        %td= un.updated_at
        %td= un.composite.round(2)
        %td= link_to "View", "/admin/#{un.id}"

=link_to 'Home', '/'
