%h1 Welcome to the Colgate Intern Database

%h2 Reviews:


%table#experiences
  %thead
    %tr
      %th Company
      %th Industry
      %th Role
      %th Location
      %th Date of Internship
      %th Date of Review
      %th Repeat?
      %th Composite Rating
      %th Work Relevancy
      %th Networking
      %th Exposure
      %th View
  %tbody
    - @experiences.each do |ex|
      %tr
        %td= link_to ex.organization, "/experiences/company/#{ex.id}"
        %td= ex.industry
        %td= ex.function
        %td= ex.citystate
        %td= ex.date_str
        %td= ex.updated_at.to_date
        %td= ex.repeat?
        %td= ex.composite.round(2)
        %td= ex.hands_on_rating
        %td= ex.network_rating
        %td= ex.exposure_rating
        %td= link_to "View", "/experiences/#{ex.id}"
      
= link_to 'Share your experience', new_experience_path

